/* ==================== 
 CSS Reset/Helpers 
======================= */
/* css reset - do not delete */
* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* removes bullet points on li's */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* INDONESIA SPECIFIC */
body {
  background-image: url('https://i.ibb.co/fxKPNkb/seamless-pattern-inflatable-pink-flamingo-swim-ring-summer-print-sticker-badge-fashion-patch-fabric.png');
  overflow-x: hidden;
  
}

.silly {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  background: white;
}

.city-info {
  background: linear-gradient(90deg, rgba(228,255,0,1) 0%, rgba(236,0,227,1) 45%, rgba(0,232,255,1) 100%);
  padding: 20px;
  border: 5px solid orange;
}

.city-info p {
  color: black;
}

.intro-text {
  color: black;
}

.city-title {
  font-size: 32px;
  color: blueviolet;;
  padding: 20px;
  border-top: 5px dashed pink;
}

.grid {
  padding: 40px;
}

/* ==================== 
  Header/Navbar CSS 
======================= */
/* sets header to flexbox */
.header {
	padding-top: .5rem;
	padding-bottom: .5rem;
	background: linear-gradient(90deg, rgba(228,255,0,1) 0%, rgba(236,0,227,1) 45%, rgba(0,232,255,1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px dashed yellow;
}

.navbar {
	margin-top: 0.313rem;
  display: flex;
}

/* page logo */
.logo {
	margin: 0;
	font-size: 1.45rem;
}

/* this transforms the logo link and navbar links into blocks for positioning */
.logo a,
.navbar a {
	padding: 0.625rem 0.938rem;
	text-align: center;
	display: block;
}

/* navbar links */
.navbar a {
	color: #34495e;
	font-size: .99rem;
}

/* ==================== 
  Hero Image 
======================= */
/* main hero container - flex centers all of the text within
!! don't edit this !! */
.hero {
    height: 50vh;
    background: linear-gradient(50deg, rgba(228,255,0,0.25) 0%, rgba(236,0,227,0.25) 45%, rgba(0,232,255,0.25)), url('https://i.ibb.co/L8cmTk9/aron-visuals-LSFu-PFE9v-KE-unsplash-Edited.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

/* hero h1 */
.hero-title {
    font-size: 3rem; 
}

/* space between title & subtext
hero p */
.hero-subtext {
    margin-top: 0.1rem;
}

/* title and subtext color - you can change the font/text styles/colors here */
.hero-title,
.hero-subtext {
    color: #fff;
    text-align: center; /* don't remove this */
}

/* ==================== 
  Page Intro
======================= */
/* sets intro to flex for text positioning 
don't recommend touching this */
.introduction {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,255,34,.5) 0%, rgba(0,28,236,.5) 45%, rgba(255,0,198,.5) 100%);
    border-bottom: 10px dashed limegreen;
    border-top: 10px solid blue;
}

.intro-content {
    padding: 2rem 1.5rem; /* don't remove/adjust this */
    background: #fff;
    text-align: center;
    color: magenta;
    border: 5px dotted blue;
}

.intro-content p {
  padding: 10px;
}

.intro-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: blueviolet;
    background: white;
}

.intro-title,
.intro-text {
    text-align: center;
}


/* ==================== 
         Cards 
!! DO NOT EDIT THE DIMENSIONS !!
  YOU CAN EDIT THE COLORS
======================= */
/* houses the card
do not edit */
.card-container {
    width: 90%;
    margin: 0 auto;
  }

/* do not edit */
.card-row {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 20px;
  }

/* card dimensions */
.card-section-heading {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: orangered;
    background: pink;

}

/* do not edit the width or margin */
.card {
    width: 20%;
    background: linear-gradient(90deg, rgba(0,255,34,.99) 0%, rgba(0,28,236,.90) 45%, rgba(255,0,198,.90) 100%);
    border: 4px dotted pink;
    margin-bottom: 50px;
  }

/* location image */
.card-img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* card title */
.card-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
    color: whitesmoke;
  }

/* inside of card */
.card-body {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
  }

/* card button */
.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: red;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 5px;
    transition: 0.3s;
  }


/* ==================== 
CELEBRITY Cards 
!! DO NOT EDIT THE DIMENSIONS !!
  YOU CAN EDIT THE COLORS
======================= */
/* houses the card
do not edit */
.celeb-container {
    width: 90%;
    margin: 0 auto;
  }

/* do not edit */
.celeb-row {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 20px;
  }

/* card dimensions */
.celeb-section-heading {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: hotpink;
    background: lightskyblue;

}

/* do not edit the width or margin */
.celeb {
    width: 20%;
    background: linear-gradient(90deg, rgba(0,255,34,.75) 0%, rgba(0,28,236,.75) 45%, rgba(255,0,198,.75) 100%);
    border: 4px dotted lawngreen;
    margin-bottom: 50px;
  }

/* location image */
.celeb-img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* card title */
.celeb-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
    color:whitesmoke;
  }

/* inside of card */
.celeb-body {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
  }

/* ==================== 
CARD MEDIA QUERIES 
!! DO NOT EDIT THESE !!
======================= */

@media screen and (max-width: 1000px) {
  .card, .celeb {
    width: 30%;
  }
}

@media screen and (max-width: 620px) {
  .card-container, .celeb-container {
    width: 100%;
  }

  .card, .celeb {
    width: 80%;
  }
}
